/* variables colores */
$color-principal: #e91802;
$fondo-secciones: #f6f6f6;
$fondo-gris: #363636;
$fondo-gris-secundario: #2f2f2f;
$fondo-footer: #4c4c4c;

/* fuentes */
@font-face {
    font-family: ReithSans;
    src: url(../fonts/ReithSans.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#btnCopiado{
   visibility: hidden;
    position: absolute;
    left: -75px;
    font-size: 10px;
    transition: all .5s ease;
    border-radius: 5px;
}

header{
    background-color: $fondo-gris-secundario;
    .navbar{
        .navbar-brand{
            text-align: center;
            span{
                padding: 0.4rem;
                background-color: #fff;
                color: #000;
                font-family: ReithSans;
                font-weight: bold;
                font-size: 28px;
            }
            span:first-child{
                margin-right: 4px;
            }
            p{
                font-size: 14px;
                font-family: ReithSans;
                font-weight: bold;
                margin-top: 5px;
                color: #fff;
            }
        }
        .nav-link{
            color: #fff;
            padding-bottom: .8rem;
            &:hover{
                border-bottom: 1px solid $color-principal;
            }
        }
        .btn-contacto{
            margin-left: 1.5rem;
            background-color: #fff;
            color: $fondo-gris;
            font-weight: bold;
            padding: .5rem;
            border-radius: 5px;
        }
        .active{
            color: #fff !important;
        }
    }
}

/* contenedor apis */
.contenedor-apis{
    background-color: #f1f1f1;
    .container{
        display: flex;
        justify-content: space-between;
        p{
            margin-bottom: 0;
        }
        .api-dolar{
            display: flex;
            p:first-child{
                margin-right: 0.5rem;
            }
            span.titulo-dolar{
                color: #0250c9;
            }
        }
    }


}

/* contenedor noticia principal*/
.contenido-principal {
    a {
        color: #000;
        text-decoration: none;
    }
    .row:first-child{
        box-shadow: 0 0 12px 0 #ccc;
    }
    .contenedor-anuncios{
        position: sticky;
        top: 0;
        padding: 0 2rem;
        height: 600px;
        background: #444;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .anuncio{
            margin: 1rem 0;
            
        }
    }
}

/* footer */

footer{
    padding: 1rem 0;
    background-color: $fondo-gris-secundario;
    color: #fff;
    .redes{
        a{
            color: #fff;
            text-decoration: none;
            font-size: 28px;
        }
    }
    ul{
        list-style: none;
        padding: 0;
    }
    .copyright{
        a{
            text-decoration: none;
            color: #0250c9;
        }
    }
}

/* estilos pagina noticias*/

.pagina-noticia{
    .seccion-noticia{
        .listado-redes{
                list-style: none;
            li{
                margin-bottom: .6rem;
                a{
                    color: #000;
                    font-size: 20px;
                    &:hover{
                        color:#0250c9;
                    }
                    
                }
            }
        }
    }
}

.contenedor-form{
box-shadow: 0 0 12px 0 #ccc;
}

/* media queries */
@media screen AND (max-width:767px) {

    header{
        .nav-link{
            text-align: center;
            
        }
        .btn-contacto{
            margin-left: 0 !important;
        }
    }

    .contenedor-apis{
        .container{
            flex-wrap: wrap;
            justify-content: center;
            font-size: 12px;
            .api-dolar{
                width: 100%;
            }
        }
    }

    .noticia-principal{
        display: flex;
        flex-direction: column;
        a{
            order: -1;
        }
    }

    //pagina noticias

    .listado-redes{
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;
        a{
            font-size: 24px !important;
        }
    }
    .copyright{
        text-align: center;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .seccion-noticia{
        text-align: center;
        .listado-redes{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .contenedor-anuncios{
            position: static;
            height: auto;
            flex-direction: row;
            .anuncio{
                padding: 0 1rem;
            }
        }
    }
    .copyright{
        text-align: center;
    }
}